{{- define "main" -}}
<div class="h-feed">
  {{ $posts := where .Site.RegularPages "Type" "post" }}
  {{ $paginator := .Paginate $posts }}
  {{ range $paginator.Pages }}
  <article class="post h-entry">
    <div class="post-date">
      <a href="{{ .Permalink }}" class="u-url">
        <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format "January 2, 2006" }}
        </time>
      </a>
    </div>
    {{ if .Title }}
    <h2 class="post-title p-name">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    {{ end }}
    <div class="post-content e-content">
      {{ .Content }}
    </div>
  </article>
  {{ end }}
  {{ partial "pagination.html" . }}
</div>
{{- end -}}